html, body {
    height: 100%;
  }
body {
  font-family: 'Gentium Book Basic', serif;
  color: blueviolet;
  background-image: url(https://media.istockphoto.com/photos/stack-of-colorful-books-education-background-back-to-school-book-picture-id690358116?k=20&m=690358116&s=170667a&w=0&h=nUxaOtHubGfrd_kTtszsqX8Mx2Qr3OXn94a-u2n4nXM=);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: color;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 50pt;
  text-align: center;
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px 50px 0px 50px;
  border: 0px 50px 0px 50px;
  padding: 0px 50px 0px 50px;}

.h2Box {
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 0 1 auto;
  color: coral;
  margin: 0px 50px 0px 50px;
  border: 0px 50px 0px 50px;
  padding: 0px 50px 0px 50px;
  height: 40px;
}

.userIn {
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0px 50px 50px 50px;
  border: 0px 50px 50px 50px;
  padding: 0px 50px 50px 50px;
  height: 40px;
}

#textBox {
  width: 75%;
  padding: 5px 20px;
  box-sizing: content-box;
  border: 2px solid coral;
  border-radius: 25px;
  color:  blueviolet;
  background: transparent; 
}

button {
  border: 2px solid coral;
  color:  blueviolet;
  background: transparent
}

button:hover {
  background-color: gray;
  color: white;
}

#bookContainer{
  position:relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 50px 50px 50px 50px;
  border: 50px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
  height: 45px;
  /* width: 50pt; */

}

li{
  list-style-type: none;
}

li::before {
  content: "📚";;
}

li:hover {
  background-color: gray;
  color: white;
}