html, body {
    height: 100%;
  }
body {
  font-family: 'Gentium Book Basic', serif;
  color: white;
  background-color: rgb(20, 17, 17);
  margin: 0px;
  border: 0px;
  padding: 0px;
  position: relative;
}

header{
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://media.istockphoto.com/photos/stack-of-colorful-books-education-background-back-to-school-book-picture-id690358116?k=20&m=690358116&s=170667a&w=0&h=nUxaOtHubGfrd_kTtszsqX8Mx2Qr3OXn94a-u2n4nXM=);
  background-size: cover; 
  height: 100vh;
  /* text-align: center; */
  /* position:relative; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* margin: 0px 50px 0px 50px;
  border: 0px 50px 0px 50px;
  padding: 0px 50px 0px 50px; */
  /* border: transparent; */
  /* height: 500px; */
}

h1 {
  font-family: 'Cedarville Cursive', cursive;
  font-size: 50pt;
  display: flex;
  /* margin: 0px 0px 0px 0px; */
  margin: 0px 0px 0px 0px;
  border: transparent;
  /* height: 100px; */
  /* display: flex; */
  /* align-items: center; */
}

h2 {
  /* position:relative; */
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* flex: 0 1 auto; */
  /* color: coral; */
  /* margin: 0px 300px 0px 450px; */
  border: transparent;
  /* padding: 0px; */
  /* height: 50px; */
  /* border: solid red; */
  margin: 0px 0px 0px 0px;
}

.userIn {
  /* position:relative; */
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
  /* margin: 0px 50px 0px 50px; */
  /* border: 0px 50px 0px 50px; */
  /* padding: 0px 50px 0px 50px; */
  /* height: 40px; */
  /* border: transparent; */
}

#textBox {
  width: 75%;
  padding: 5px 20px;
  box-sizing: content-box;
  border: 2px white;
  border-radius: 25px;
  color:  black;
  /* background: transparent; */

}

button {
  border: gray;
  color:  black;
  /* background: transparent */
}

button:hover {
  background-color: gray;
  color: white;
}

#bookContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
  /* margin: 0px 0px 0px 0px;
  padding: 0px; */
  border: transparent;
  /* width: 300px; */
}

li{
  list-style-type: none;
}

li::before {
  content: "📚 ";
}

li:hover {
  background-color: gray;
  color: white;
}

#box{
  background-color: black;
}

#title1{
  font-size: 25pt;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
  padding: 0px;
  margin: 0px;;
  /* height: 40px; */
}

aside{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
  /* margin: 40px 950px 0px 0px;; */
}

#author{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
}

#summary{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: transparent;
  margin: 20px
}

@media (max-width: 450px){
  h1{
  font-size: 30pt;
  }
}